name: CI
on:
  push:
    branches: [main]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci --production=false --ignore-scripts
      - run: npm run lint
      - run: npm run build
      - run: npm run test
      - run: npm audit --production --audit-level=high
